<br />
<ng-container *ngFor="let cld of currentLevelData">
  <span *ngFor="let cld of indentationSpace">-----</span>
  <button (click)="childTreeConfig.hideChildren=!childTreeConfig.hideChildren">
    {{childTreeConfig.hideChildren}}+
  </button>
  {{treeConfig.indentation}}: {{cld}} : <span *ngIf="!isObjectUtility(tree[cld])">{{tree[cld] | json}}</span> <br />
  <app-create-tree *ngIf="tree" [hidden]="childTreeConfig.hideChildren" [tree]="tree[cld]" [treeConfig]="childTreeConfig"></app-create-tree>
</ng-container>

