<ng-container *ngFor="let cld of currentLevelData; let i = index">
  <span *ngFor="let cld of indentationSpace">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span *ngIf="!isObjectUtility(tree[cld.data])">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button *ngIf="isObjectUtility(tree[cld.data])" (click)="currentLevelData[i].isHidden=!currentLevelData[i].isHidden">
    <span *ngIf="currentLevelData[i].isHidden">+</span>
    <span *ngIf="!currentLevelData[i].isHidden">-</span>
  </button>
  {{cld.data}} : <span *ngIf="!isObjectUtility(tree[cld.data])">{{tree[cld.data] | json}}</span> <br />
  <app-create-tree *ngIf="tree" [hidden]="currentLevelData[i].isHidden" [tree]="tree[cld.data]" [treeConfig]="childTreeConfig"></app-create-tree>
</ng-container>
