<br />
<ng-container *ngFor="let cld of currentLevelData; let i = index">
  <span *ngFor="let cld of indentationSpace">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span *ngIf="!isObjectUtility(tree[cld])">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button *ngIf="isObjectUtility(tree[cld])" (click)="hideStatus[i]=!hideStatus[i]">
    <span *ngIf="hideStatus[i]">+</span>
    <span *ngIf="!hideStatus[i]">-</span>
  </button>
  {{cld}} : <span *ngIf="!isObjectUtility(tree[cld])">{{tree[cld] | json}}</span> <br />
  <app-create-tree *ngIf="tree" [hidden]="hideStatus[i]" [tree]="tree[cld]" [treeConfig]="childTreeConfig"></app-create-tree>
</ng-container>

